@import "variables.scss";

$release-card-width: 450px;
$release-list-horizontal-padding: 220px;

.release-list {
    height: 100%;
}
.release-list__list {
    height: 100%;
    overflow-y: auto;
    padding: 0 220px;
}
.release-item {
    max-width: 150px;
    max-height: 230px;
}
.list__release-item {
    margin: 10px;
}
.release-item__img-container {
    width: 150px;
    height: 150px;
}
.release-item__release-year {
    color: $gray-label;
    font-size: 13px;
}
.release-item__release-title {
    cursor: pointer;
}
.release-list__release-card-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 1px solid #ABB2B9;
}
.release-card {
    width: $release-card-width;
    background-color: #F1F3F5;
    padding: 15px;
    box-sizing: border-box;

    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
.release-card-wrapper .release-card {
    height: 100%;
}
.release-card-wrapper+.release-list__list {
    margin-right: $release-card-width;
    padding-right: 0;
}
.release-card__img-container {
    width: 275px;
    height: 275px;
}
.release-card__title {
    margin-bottom: 5px;
}
.release-card__tracklist {
    margin-top: 20px;
}
.track__position {
    margin-right: 10px;
    min-width: 20px;
}
.track__duration {
    float: right;
}
.track>div {
    display: inline-block;
}
.track::after {
    content: "";
    display: table;
    margin-bottom: 5px;
}
.release-card__insignificant-info {
    color: $gray-label;
}
.release-card__close-btn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 10px;
}