@import "variables.scss";

$release-card-width: 450px;
$release-list-item-width: 150px;
$release-list-item-horizontal-margin: 10px;
$release-list-content-width: 5 * ($release-list-item-width + $release-list-item-horizontal-margin * 2);
$card-appearance-transition-duration: 0.2s;

.release-list-wrapper {
    height: 100%;
}
.release-list {
    height: 100%;
    overflow-y: auto;
}
.release-list__release-list-content {
    width: $release-list-content-width;
    margin: 0 auto;
}
.release-list-wrapper__release-list {
    margin: 0;
    transition: margin $card-appearance-transition-duration;
}
.release-list-wrapper__release-list_card-shown {
    margin-right: $release-card-width;
    transition: margin-right $card-appearance-transition-duration;
}


.release-list__list-item {
    margin: $release-list-item-horizontal-margin;
    width: $release-list-item-width;
}
.release-list__img-container {
    width: 100%;
    height: 150px;
}
.release-list__release-year {
    color: $gray-label;
    font-size: 13px;
}
.release-list__release-title {
    cursor: pointer;
}
.release-list__rectangles-loader {
    margin: auto;
}
.release-list__release-info > div {
    margin-top: 5px;    
}

.release-list-wrapper__release-card-wrapper {
    box-sizing: border-box;
    width: $release-card-width;
    position: fixed;
    top: 0;
    right: -$release-card-width;
    bottom: 0;
    border-left: 1px solid #ABB2B9;
    transition: right $card-appearance-transition-duration;
}
.release-list-wrapper__release-card-wrapper_card-shown {
    right: 0;
    transition: right $card-appearance-transition-duration;
}
.release-card {
    background-color: #F1F3F5;
    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
.release-card__release-card-content {
    position: relative;
    padding: 15px;
}
.release-list-wrapper__release-card-wrapper .release-card {
    height: 100%;
    overflow-y: auto;
}
.release-card__img-container {
    width: 275px;
    height: 275px;
}
.release-card__title {
    margin: 20px 0 5px;
    font-size: 24px;
    font-weight: bold;
}
.release-card__insignificant-info {
    color: $gray-label;
}
.release-card__close-btn {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 10px;
}
.release-card__tracks-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px 5px;
}
.release-card__full-info-ref {
    margin-top: 10px;
    display: block;
}
.release-card__rectangles-loader {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
