.sort-comp {
    padding: 10px;
}
.sort-comp__content {
    display: flex;
    align-items: center;
}
.sort-comp__inline-block:not(:last-of-type) {
    margin-right: 15px;
}
.sort-comp__inline-block {
    display: inline-block;
}
.sort-comp__field-block {
    display: flex;
    align-items: center;
}
.sort-comp__field-select {
    min-width: 150px;

    .ng-select-container,
    input {
        cursor: pointer !important;
    }
}
.sort-comp__form-elem-label {
    margin-right: 10px;
}
.sort-comp__sort-svg {
    height: 12px;
    width: 16px;
    cursor: pointer;
}
.sort-comp__sort-svg:first-of-type {
    margin-right: 5px;
}
.sort-comp__sort-svg_order-selected {
    fill: #E69139;
}
