<div class="release-list-wrapper">
    <div class="release-list-wrapper__release-card-wrapper" 
        [ngClass]="{'release-list-wrapper__release-card-wrapper_card-shown': cardShown}">
        <release-card #releaseCard
                      (releaseCardClosed)="onReleaseCardClosed()">
        </release-card>
    </div>
    <div class="release-list release-list-wrapper__release-list" infiniteScroll 
        [apiSearchService]="releaseListApiService" 
        [searchParams]="searchParameters" 
        [sortingParams]="sortingParameters" 
        initLoadRequired="true" 
        (dataLoaded)="onDataLoaded($event)"
        (loadingStarted)="onLoadingStarted()"
        [ngClass]="{'release-list-wrapper__release-list_card-shown': cardShown}">

        <div class="release-list__release-list-content">
            <sorting-component (sortingConditionChanged)="onSortingConditionChanged($event)" 
                               [sortingFieldItems]="sortingFieldItems">
            </sorting-component>
            <div class="list list_display-flex">
                <div class="list-item release-list__list-item " *ngFor="let releaseItem of releaseList">
                    <div class="img-container release-list__img-container">
                        <img class="img-container__img" src="{{releaseItem.thumb}}" *ngIf="releaseItem.thumb" />
                        <img class="img-container__img" src="./assets/no-image-found.jpg" *ngIf="!releaseItem.thumb" />
                    </div>
                    <div class="release-list__release-info">
                        <div class="release-list__release-title" (click)="selectRelease(releaseItem)">{{releaseItem.title}}</div>
                        <div class="release-list__release-year">{{releaseItem.year}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rectangles-loader release-list__rectangles-loader" *ngIf="loadingStarted">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>