<div class="sort-comp">
    <div class="sort-comp__content">
        <div class="sort-comp__inline-block">
            <div class="sort-comp__field-block">
                <label class="sort-comp__form-elem-label">Sort by:</label>
                <ng-select [items]="sortingFieldItems"
                           [ngModel]="sortingField" 
                           (change)="onSortingFieldChange($event)" 
                           bindLabel="displayValue"
                           class="sort-comp__field-select">
                </ng-select>
            </div>
        </div>
        <div class="sort-comp__inline-block">
            <label class="sort-comp__form-elem-label">Sort order:</label>
            <svg class="sort-comp__sort-svg" (click)="onSortingOrderChange(true)" 
                [ngClass]="{'sort-comp__sort-svg_order-selected': isAscendingSortSelected }">

                <title>Ascending</title>
                <rect width="8"  height="2"></rect>
                <rect width="12" height="2" y="5"></rect>
                <rect width="16" height="2" y="10"></rect>
            </svg>
            <svg class="sort-comp__sort-svg" (click)="onSortingOrderChange(false)" 
                [ngClass]="{'sort-comp__sort-svg_order-selected': isDescendingSortSelected }">
                
                <title>Descending</title>
                <rect width="16" height="2"></rect>
                <rect width="12" height="2" y="5"></rect>
                <rect width="8"  height="2" y="10"></rect>
            </svg>
        </div>
    </div>
</div>